.sb-main-container {
    height: 100%;
    width: 100%;
    background: lightgray;
    padding: 0px;
    overflow: hidden;
}

.sb-main-content {
    height: 100%;
    float: left;
    border: 1px solid lightseagreen;
    background: white;
    margin: 1px;
}

.sidebar-container-right {
    height: 100%;
    position: absolute;
    top: 0px;
    right: 0px;
    border-left: 3px solid rgb(180, 180, 180);
    -webkit-transition: width 0.1s;
    transition: width 0.1s;
    margin: 0px;
}

.sidebar-container-right.collapsed {
    width: 2px;
}

.sidebar-container-right.expanded {
    width: 200px;
}

.sidebar-navicon-right {
    height: 38px;
    width: 40px;
    padding: 0px;
    cursor: pointer;
    margin-left: -40px;
    border-color: rgba(170, 170, 170, 1);
    border-style: solid;
    border-top-width: 2px;
    border-left-width: 2px;
    border-bottom-width: 2px;
    border-radius: 5px;
    position: relative;
    z-index: 9999;
}