.main-container {
    height: 100%;
    width: 100%;
    background: lightgray;
    padding: 0px;
    overflow: hidden;
}

.main-content {
    height: 100%;
    border: 1px solid lightseagreen;
    background: white;
    margin: 1px;
}