.main-container {
    height: 100%;
    width: 100%;
    background: lightgray;
    padding: 0px;
    display: flex;
}

.main-content {
    height: 100%;
    flex: 20;
    border: 1px solid lightseagreen;
    background: white;
    margin: 1px;
}