.main-container {
    height: 100%;
    padding: 0px;
    width: 100%;
    margin: 5px 0px 0px 0px;
}

#workspaceContainer {
    height: 100%;
}

#blocklyDiv {
    height: 100%;
}

#controlButtonPanel {
    margin: 2px 0px 2px 0px;
    left: 0px;
    right: 0px;
    padding: 8px;
}

#maskOverlay {
    height: 100%;
    position: absolute;
    z-index: 100;
    background-color: rgb(230, 230, 230);
    opacity: 0.1;
    cursor: not-allowed;
}

.controlButton {
    margin: 0px 10px 0px 10px;
}

.controlButton.active {
    cursor: pointer;
}

.controlButton.disabled {
    opacity: 0.3;
    pointer-events: none;
}

.card-title {
    font-size: 16px;
}

.card-body {
    font-size: 0.8em;
}

.list-group {
    cursor: pointer;
    font-size: 1em;
}